{% extends 'base.html.twig' %}

{% block title %}Edit Mark{% endblock %}

{% block body %}
    <h1>Stock management</h1>
    
    {{ include('stock_management/_form.html.twig') }}

    {% for message in app.flashes('success') %}
    	<div class="alert alert-success">
    		{{ message }}
    	</div>
    {% endfor %}


{% endblock %}
