@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Regular.ttf);
}

body {
	font-family: 'Roboto';
	color: #616161;
}

ul.nav {
	border-bottom: 1px solid #00000030;
	padding-bottom: 1rem;
}

ul.nav li {
    display: inline-block;
    padding: 0.25rem 1.5rem;
    border-left: 1px solid #00000026;
    transition: all ease 0.75s;
}

ul.nav li:hover {
    background-color: #06889d21;
    border-radius: 0.25rem;
    transition: all ease 0.75s;
}

ul.nav li a {
    color: #616161;
    text-decoration: none;
}

.welcome {
	text-align: center;
	margin-top: 2rem;
}

.sub-nav {
	display: none;
}

ul.nav li:hover .sub-nav {
    display: grid;
    position: absolute;
    left: 8px;
    background-color: #fff;
    padding-top: 0.25rem;
}

thead {
    border-bottom: 1px solid #000;
    background-color: #8080802b;
}

th, td {
    margin: 0;
    padding: 0.25rem 2rem;
}

tr:nth-child(2n) {
	background-color: #8080801c;
}

td a {
    margin: 0 0.25rem;
    text-decoration: none;
    background-color: #3c7fff;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8em;
}

.link {
    text-decoration: none;
    color: #fff;
    background-color: #a4a6a5;
    padding: 6px 8px;
    display: inline-block;
    border-radius: 4px;
    font-size: 0.9em;
    margin: 8px 4px;
}

.btn {
    background-color: #82be80;
    border: none;
    border-radius: 4px;
    padding: 4px 9px;
    font-family: 'Roboto';
    color: #fff;
    font-size: 0.9em;
    margin-left: 4px;
    margin-top: 16px;
}

label {
    padding: 2px 0px;
    display: block;
    margin-top: 8px;
}

input, textarea, select {
    border: 1px solid #7070704f;
    border-radius: 4px;
    padding: 8px 10px;
    font-family: 'Roboto';
    font-size: 1em;
    color: #616161;
    width: 50%;
}

.order-resume {
	display: flex;
}

.order-resume div {
    display: inline-block;
    flex: 1
}

.grid-product {
	margin-top: 1rem;
}

.item {
    display: inline-block;
    border: 1px solid #0000003b;
    border-radius: 4px;
    padding: 12px 16px;
    margin: 4px;
}

.item .title {
    font-size: 1.25em;
    border-bottom: 1px solid #0000004f;
    margin-bottom: 4px;
    font-weight: bold;
}

.item .price {
    background-color: #00ff002e;
}

.item .infos {
    padding: 10px 4px;
    font-size: 0.75em;
    background-color: #80808012;
}