{% extends 'base.html.twig' %}

{% block title %}Edit Supplier{% endblock %}

{% block body %}
    <h1>Edit Supplier</h1>

    {{ include('supplier/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="link" href="{{ path('supplier_index') }}">back to list</a>

    {{ include('supplier/_delete_form.html.twig') }}
{% endblock %}
