{% extends 'base.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block body %}
    <h1>Supplier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supplier.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ supplier.title }}</td>
            </tr>
        </tbody>
    </table>

    <a class="link" href="{{ path('supplier_index') }}">back to list</a>

    <a class="link" href="{{ path('supplier_edit', {'id': supplier.id}) }}">edit</a>

    {{ include('supplier/_delete_form.html.twig') }}
{% endblock %}
