{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product management</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>StockQty</th>
                <th>PriceTTC</th>
                <th>Mark</th>
                <th>Type</th>
                <th>Kind</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.stockQty }}</td>
                <td>{{ product.priceTTC }}</td>
                <td>{{ product.mark.title }}</td>
                <td>{{ product.type.title }}</td>
                <td>{{ product.kind.title }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="link" href="{{ path('product_new') }}">Create new</a>
{% endblock %}
