{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>StockQty</th>
                <td>{{ product.stockQty }}</td>
            </tr>
            <tr>
                <th>PriceTTC</th>
                <td>{{ product.priceTTC }}</td>
            </tr>
        </tbody>
    </table>

    <a class="link" href="{{ path('product_index') }}">back to list</a>

    <a class="link" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
