{% extends 'base.html.twig' %}

{% block title %}Edit Kind{% endblock %}

{% block body %}
    <h1>Edit Kind</h1>

    {{ include('kind/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="link" href="{{ path('kind_index') }}">back to list</a>

    {{ include('kind/_delete_form.html.twig') }}
{% endblock %}
