{% extends 'base.html.twig' %}

{% block title %}Kind{% endblock %}

{% block body %}
    <h1>Kind</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kind.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ kind.title }}</td>
            </tr>
        </tbody>
    </table>

    <a class="link" href="{{ path('kind_index') }}">back to list</a>

    <a class="link" href="{{ path('kind_edit', {'id': kind.id}) }}">edit</a>

    {{ include('kind/_delete_form.html.twig') }}
{% endblock %}
