<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    	<ul class="nav">
    		<li>
    			<a href="#">Product management</a>
    			<ul class="sub-nav">
    				<li>
						<a href="{{ url('mark_index') }}">Mark</a>
					</li>
					<li>
						<a href="{{ url('type_index') }}">Type</a>
					</li>
					<li>
						<a href="{{ url('kind_index') }}">Kind</a>
					</li>
					<li>	
						<a href="{{ url('product_index') }}">Product</a>
					</li>
					<li>
						<a href="{{ url('supplier_index') }}">Supplier</a>
					</li>
    			</ul>
    		</li>
			<li>
				<a href="{{ url('stock_management') }}">Stock management</a>
			</li>
			<li>
				<a href="{{ url('client_new') }}">Client registration</a>
			</li>
			<li>
				<a href="{{ url('order') }}">Product catalog</a>
			</li>
			<li>
				<a href="{{ url('order_management') }}">Order management</a>
			</li>
		</ul>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
