{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

	<div>
		<h3>Order : {{ order.number }} | {{ order.date | date }}</h3>
	</div>

	<table>

		<tr>
			<th>Product</th>
			<th>Qty</th>
			<th>Unit price</th>
			<th>Total amount</th>
			{% if isEditable %}
				<th colspan="2">Action</th>
			{% endif %}
		</tr>

		{% for orderItem in  order.orderItems %}
			<tr>
				<td>{{ orderItem.product.title }}</td>
				<td>{{ orderItem.qty }}</td>
				<td>{{ orderItem.product.priceTTC }}</td>
				<td>{{ orderItem.product.priceTTC * orderItem.qty }}</td>
				{% if isEditable %}
					<td><a href="{{ url('order_edit',{'orderItemId': orderItem.id}) }}">Edit</a></td>
					<td><a href="{{ url('delete_order_item',{'orderItemId': orderItem.id}) }}">Remove</a></td>
				{% endif %}
			</tr>
		{% endfor %}

		<tr>
			<td></td>
			<td></td>
			<td><strong>Total:</strong></td>
			<td><strong>{{ order.getTotalAmount() }}</strong></td>
		</tr>

	</table>

	{% if isEditable %}
		<a class="link" href="{{ url('product_list',{'clientId': order.client.id}) }}">Add product</a>
		{% if order.getTotalAmount() > 0 %}
			<a class="link" href="{{ url('confirm_order',{'orderId': order.id}) }}">Confirm</a>
		{% endif %}
	{% endif %}

{% endblock %}