{% extends 'base.html.twig' %}

{% block title %}Edit order{% endblock %}

{% block body %}
	
	<div class="edit_order">

		<h4>{{ orderItem.product.title }}</h4>

		{{ form_start(form) }}
		    {{ form_widget(form) }}
		    <button class="btn">{{ button_label|default('Update') }}</button>
		{{ form_end(form) }}

	</div>

{% endblock %}
