{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
	
	<div class="client_choice">

		{{ form_start(form) }}
		    {{ form_widget(form) }}
		    <button class="btn">{{ button_label|default('Set client') }}</button>
		{{ form_end(form) }}

	</div>

	{% for message in app.flashes('error') %}
    	<div class="alert alert-success">
    		{{ message }}
    	</div>
    {% endfor %}

{% endblock %}
