{% extends 'base.html.twig' %}

{% block title %}Manage order{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
    	<div class="alert alert-success">
    		{{ message }}
    	</div>
    {% endfor %}
	
	<table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Client name</th>
                <th>Client firstName</th>
                <th>Client email</th>
                <th>Total amount</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ url('order_detail',{'orderId': order.id}) }}">{{ order.number }}</a></td>
                <td>{{ order.date | date }}</td>
                <td>{{ order.client.name }}</td>
                <td>{{ order.client.firstName }}</td>
                <td>{{ order.client.email }}</td>
                <td>{{ order.getTotalAmount() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no orders found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
