{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
	
	<div class="order-resume">

		<div>
			<strong style="text-decoration: underline;">Client :</strong> {{ client.firstName }} {{ client.name }}
		</div>
		<div style="text-align:right;">
			<strong style="text-decoration: underline;">Order :</strong> {{ order.getNumberOfProduct() }} products | {{ order.getTotalAmount() }} € <a class="link" href="{{ url('order_detail',{'orderId': order.id, 'editable': true}) }}">See details</a>
		</div>

	</div>

	<div class="grid-product">
		
		{% for product in products %}
	
			<div class="item">
				<div class="title">
					{{ product.title }}
				</div>

				<div class="price">
					{{ product.priceTTC }} €
				</div>

				<div class="infos">
					{{ product.mark.title }} | {{ product.type.title }} | {{ product.kind.title }}
				</div>

				<div class="infos">
					Stock : {{ product.stockQty }}
				</div>

				<a class="link" href="{{ url('order_add_product',{'orderId':order.id,'clientId':client.id,'productId':product.id}) }}">Add to order</a>

			</div>

		{% endfor %}

	</div>
	

{% endblock %}