{% extends 'base.html.twig' %}

{% block title %}Mark index{% endblock %}

{% block body %}
    <h1>Mark management</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mark in marks %}
            <tr>
                <td>{{ mark.id }}</td>
                <td>{{ mark.title }}</td>
                <td>
                    <a href="{{ path('mark_show', {'id': mark.id}) }}">show</a>
                    <a href="{{ path('mark_edit', {'id': mark.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="link" href="{{ path('mark_new') }}">Create new</a>
{% endblock %}
