{% extends 'base.html.twig' %}

{% block title %}Mark{% endblock %}

{% block body %}
    <h1>Mark</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mark.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ mark.title }}</td>
            </tr>
        </tbody>
    </table>

    <a class="link" href="{{ path('mark_index') }}">back to list</a>

    <a class="link" href="{{ path('mark_edit', {'id': mark.id}) }}">edit</a>

    {{ include('mark/_delete_form.html.twig') }}
{% endblock %}
